.card-blocks-wrapper
    .block-switcher
        .block-switcher__text Public
        label.block-switcher__switch
            input.block-switcher__input(type='checkbox', checked='')
            span.block-switcher__slider.block-switcher__slider_round
        .block-switcher__text Private
    .card-blocks
        .card-block
            .card-block__text New air routes that promise cheap flights in
            .card-block__footer
                .card-block__user
                    img.card-block__user-img(src="images/oval.svg" alt="oval")
                    .card-block__name Gregory Watkins
                a(href="#").card-block__link Share
        .card-block
            .card-block__text New air routes that promise cheap flights in
            .card-block__footer
                .card-block__user
                    img.card-block__user-img(src="images/oval.svg" alt="oval")
                    .card-block__name Gregory Watkins
                a(href="#").card-block__link Share
        .card-block.card-block_with-shared
            .card-block__shared Shared to
                a #discussionaboutanimgttdds…
            .card-block__text New air routes that promise cheap flights in
            .card-block__footer
                .card-block__user
                    img.card-block__user-img(src="images/oval.svg" alt="oval")
                    .card-block__name Gregory Watkins
                .card-block__icons
                    img.card-block__play-img(src="images/play.svg" alt="play")
                    .card-block__play 88
                    img.card-block__like-img(src="images/like.svg" alt="like")
                    .card-block__like 24
        .card-block.card-block_with-shared
            .card-block__shared-with-icon 
                .card-block__share-icon
                    img(src="images/share-icon.svg" alt="share")
                    a.card-block__shared-link Shared via weblink
            .card-block__text New air routes that promise cheap flights in
            .card-block__footer
                .card-block__user
                    img.card-block__user-img(src="images/oval.svg" alt="oval")
                    .card-block__name Gregory Watkins
                .card-block__icons
                    img.card-block__play-img(src="images/play.svg" alt="play")
                    .card-block__play 88
                    img.card-block__like-img(src="images/like.svg" alt="like")
                    .card-block__like 24
