.user-details
     .user-details-item1
          img.user-details__img(src="images/avatar.svg" alt="avatar")
          .user-details__info
               .user-details__name Benjamin Clementine
               a.user-details__nik @benclementine
               .user-details__edit
                    img.user-details__edit-icon(src="images/edit.svg" alt="edit")
                    .user-details__edit-link Edit Profile
          
          .user-details__dropdown
               button.user-details__menu(onclick='myFunction()')  
               .user-details__dropdown-content#myDropdown
                    .user-details__dropdown-element
                         img.user-details__dropdown-img(src="images/icon_report.svg" alt="report")
                         a.user-details__dropdown-link(href='#') Report User
                    .user-details__dropdown-element
                         img.user-details__dropdown-img(src="images/icon-block.svg" alt="icon-block")
                         a.user-details__dropdown-link(href='#') Block User
               
          
     .user-details-item2
          .user-details__followers
               .user-details__number 45
               .user-details__type synths
          .user-details__followers
               .user-details__number 110
               .user-details__type followers
          .user-details__followers
               .user-details__number 322
               .user-details__type following
     .user-details__description Cryptocurrencies including Ethereum, Ripple, and Litecoin have all plunged between 20 to 30 percent each, according to CoinMarketCap. Here is the latest Ripple price news and live updates on XRP, bitcoin and Ethereum.
