.wrapper-header
    .header
        .header-item
            .header-item1
                img.header__logo(src="images/logo.svg" alt="logo")
            .header-item2
                .header__user Arthur Wood 
                img.header__user-img(src="images/user.svg" alt="user-img")
                img.header__icon-arrow(src="images/arrow.svg" alt="icon-arrow")
                .header__icons
                    a(href="#" target="_blank")
                        img.header__notifications-icon(src="images/notifications.svg" alt="notifivation")
                    a(href="#" target="_blank")
                        img.header__share-icon(src="images/share.svg" alt="share")
                    a(href="https://medium.com/" target="_blank")
                        img.header__medium-icon(src="images/medium.svg" alt="medium")
        .header__links
            a.header__link(href="#" target="_blank") FEED 
            a.header__link(href="#" target="_blank") EXPLORE
            a.header__link(href="#" target="_blank") DISCUSSIONS
    .header__button 
        img.header__button-img(src="images/plus.svg" alt="plus")
    