doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.css")
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600;700&display=swap' rel='stylesheet')
        title Synth
    body
    .wrapper
        include components/header/header
        .main-wrapper
            include components/user-datails/user-datails
            include components/card-blocks/card-blocks
    script(src="js/index.js")